body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oswald', sans-serif, 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Oswald', sans-serif, 'Roboto Condensed', sans-serif;
}

.j-card {
  margin: 20px;
} 

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-image {
  width: 350px;
  height: 350px;
  /* box-shadow: 0px 0px 0px 1px #ccc; */
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

