body {
  margin: 0;
  font-family: 'Domine', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Domine', serif;
}

.p-0 {
  font-family: 'Domine', serif;
}

.j-card {
  margin: 20px;
} 

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-image {
  width: 550px;
  height: 350px;
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.about-me {
  text-align: justify;
  width: 400px;
  margin: 0 auto;
}

.img {
  width: 300px;
  margin: 0 auto;
}

.home, .about-me {
  font-family: 'Domine', serif;
}

.home {
  width: 800px;
  margin: 0 auto;
}