body {
  margin: 0;
  font-family: 'Domine', serif, 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Domine', serif, 'Questrial', sans-serif;
}

.j-card {
  margin: 10px;
} 
.nav-link {
  color: #7daa92;
  font-family: 'Domine', serif;
  font-size: 13px;
}

.mt-5 {
  font-family: 'Questrial', sans-serif;
}

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
  vertical-align: top;
  color: #7daa92;
  font-family: 'Questrial', sans-serif;
}

.j-card-image {
  width:550px;
  height: 350px;
  
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.about-me {
  text-align: justify;
  margin: 0 auto;
  margin-left: 6%;
}

.about-me-div {
  display: inline-block; 
  width: 370px;
  margin: 15px;
  vertical-align: middle;
  font-family: 'Questrial', sans-serif;

}



.img {
  width: 360px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #000000;

}

.home, .about-me {
  font-family: 'Domine', serif;
}

.home {
  margin: 0 auto;
}